html {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.main-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  box-sizing: border-box;
  height: 100vh;
}

.coin {
  display: flex;
  flex-direction: column;
  padding: 5px;

  cursor: pointer;

  &__body {
    width: 80px;
    height: 80px;
    background: gold;
    box-shadow: 3px 3px 0 0 #d4a245;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 25px;
    color: #614107;
    user-select: none;
  }

  &__amount {
    position: relative;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
  }

  &__updated {
    color: green;
    position: absolute;
    animation: flyUp 1s ease forwards;
    font-weight: bold;

    &.negative {
      color: red;
    }
  }
}

.block-title {
  position: absolute;
  top: -17px;
  left: 20px;
  background: green;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
}

.wallet,
.machine {
  position: relative;
  width: 100%;
  display: flex;
  border: 3px solid green;
  border-radius: 8px;
  justify-content: space-around;
  padding: 50px;
  box-sizing: border-box;
}

.machine {
  border-color: #614107;

  .block-title {
    background-color: #614107;
  }
}

.app-screen {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.drinks {
  display: flex;
  flex-direction: column;
  width: 100%;  
  padding-top: 40px;
  flex-grow: 1;  
  box-sizing: border-box;
  border-radius: 8px;

  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
  }
}

.drink {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &__amount {
    background: #000;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    justify-self: flex-end;
    align-self: center;
  }

  &__logo {
    padding: 20px;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  &__img {
    width: 90px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__price {
    text-align: center;
    font-weight: bold;
  }

  &__name {
    text-transform: capitalize;
    text-align: center;
  }
}

.inserted {
  text-align: right;
  font-size: 30px;
  margin-bottom: 40px;
}

.change {
  text-align: right;
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-end;

  &__sum {
    font-size: 25px;
    margin-right: 30px;
    line-height: 50px;
  }

  &__button {
    display: inline-block;
    padding: 15px 30px;
    background: linear-gradient(to bottom, #4fb34f, green);
    font-size: 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    user-select: none;

    &.disabled {      
      filter: grayscale(100);      

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}

.message {
  justify-self: center;
  background-color: lightgreen;
  text-align: center;
  box-sizing: border-box;
  padding: 25px;
  margin-top: 40px;

  &--error {
    background-color: lightpink;
  }
}

.animate {
  animation: flash 0.3s ease;
}

@keyframes flash{
  from {
    background: radial-gradient(circle, #ffd700 15%, transparent 38%);
  }
  to {
    background-color: transparent;
  }
}

@keyframes flyUp{
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -30px;
    opacity: 0;
  }
}